<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Boot Thymeleaf Voting System</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style type="text/css">
	body{
	background-color: #9e9e9e;
	/*color: #ffffff;*/
	font-size: 20px;
	}
</style>
</head>
<body>
	<div> Enter your Name:
		<form action="#" th:action="@{/doLogin}" method="post">
			<input type="text" name="name">
			<input type="submit" value="Submit">
		</form>
	</div>
</body>
</html>

