<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
	        <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
	        <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>        
	        <property name="hibernate.connection.url">jdbc:sqlserver://S-EAC-MSSQL2008.net1.cec.eu.int:1433;databaseName=EPlusLinkAngelTest</property>
	        <property name="hibernate.connection.username">kejeike</property>
	        <property name="hibernate.connection.password">E@sycode123</property>
	        <property name="hibernate.default_schema">dbo</property>
	        <property name="hibernate.show_sql">true</property>
	        <property name="hibernate.hbm2ddl.auto">update</property>
	        <property name="hibernate.connection.pool_size">1</property>
	        <property name="hibernate.connection.autocommit">false</property>
	         <mapping class="com.kejeiri.socialnetwork.model.User"/>
    </session-factory>
</hibernate-configuration>